body{
    margin: 0;
}
body>*{
    padding: .5em;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}

a:link {
    color: var(--primary-color);
}

/* visited link */
a:visited {
    color: var(--dark-color);
}

/* mouse over link */
a:hover,
a:focus,
a:active {
    color: var(--primary-color);
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--primary-color);
    min-height: 3rem;
}
.top-header__link{
    width: 100%;
    padding: .5em;
    text-align: center;
    transition: background-color 400ms ease-in-out;
}
.top-header__link:link{
    color: var(--light-color);
}

.top-header a:hover,
.top-header a:focus,
.top-header a:active {
    background-color: var(--dark-color);
}
@media (min-width: 800px) {
    .top-header{
        justify-content: start;
        flex-direction: row;
    }
    .top-header__link{
        width: auto;
        margin: .25em;
    }
}

.main-banner{
    height: 20em;
    overflow-y: hidden;
    background-color: var(--github-bg);
}
