:root{
    --primary-color--lighter: #b27edf;
    --primary-color: #714796;
    --secondary-color--lighter: #a5b9ee;
    --secondary-color: #7785AC;
    --dark-color: #392949;
    --darker-color: #2e2833;
    --light-color: #cef5f5;
    --github-bg: #0d1117;
}